{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-8">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-custom">
        <div id="clock" class="light">
            <div class="ampm"></div>
            <div class="digits"></div>
        </div>
        {% for status in all_status %}
            <button onclick="location.href='/change_status/?to={{status.StatusKey}}'" type="button" class="btn {{status.StatusChangeButton}} btn-custom">{{status.Status}}</button>
        {% endfor %}
        <!--<button type="button" class="btn btn-success btn-custom">In Office</button>-->
        <!--<button type="button" class="btn btn-info btn-custom">Away</button>-->
        <!--<button type="button" class="btn btn-warning btn-custom">In meeting</button>-->
        <!--<button type="button" class="btn btn-danger btn-custom">Out of Office</button>-->
    </div>
</div>
{% if wrn %}
<div class="alert alert-danger alert-dismissable">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <p align="center">{{ text }}</p>
</div>
{% endif %}
<script src="{% static 'footable.js' %}"></script>
{% endblock %}