{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h1 class="page-header">{{ client_name }}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            User Information
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td>Name</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.Name}}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.username}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.Email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.Phone}}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.Designation}}</td>
                </tr>
                <tr>
                    <td>Date joined</td>
                    <td> &nbsp;:&nbsp;</td>
                    <td> {{this_user.DateAdded|date:"d/M/Y"}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}